---
interface Props {
  title: string;
  body: string;
  className?: string;
}
const { title, body, className = " flex-col md:flex-row" } = Astro.props;
import Carousel from "@components/Common/Carousel.tsx";
---

<section
  class={`flex justify-center gap-8 items-center place-content-center ${className} py-8`}
>
  <div class="w-full md:w-1/2">
    <span>{title}</span>
    <p>{body}</p>
  </div>
  <div class="w-full md:w-1/2">
    <Carousel imageFolder="ejemplo" client:load />
  </div>
</section>
