---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import Banner from "@components/Common/Banner.astro";
import PhotoSwipe from "@components/Common/PhotoSwipe.astro";
import { getI18N } from "@i18n/index";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const { title, keywords, url } = i18n.SEO.gallery;
---

<Layout title={title} url={url} keywords={keywords}>
  <Banner
    title="Hostel Flakos Experience"
    className="h-44 md:h-96 bg-homeBanner"
  />
  <Container className="py-8">
    <p class="text-2xl text-center text-textColor">
      Galería de las diversas actividades que puedes realizar al hospedarte en <span
        class="text-naranja">Hostel Flakos</span
      >
    </p>
    <PhotoSwipe imageFolder="ejemplo" />
  </Container>
</Layout>
