---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
---

<Layout title="Welcome to Astro.">
  <Container>
    <h1>All Rooms</h1>
  </Container>
</Layout>
