html.lenis,
html.lenis body {
  height: auto;
  overflow: hidden; /* Oculta la barra de desplazamiento */
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
  overflow: hidden; /* Oculta la barra de desplazamiento */
}

.lenis.lenis-stopped {
  overflow: hidden;
}

/* Oculta la barra de desplazamiento para todos los elementos */
.lenis * {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.lenis *::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
